
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h2>LoginPage</h2>*@
@using (Html.BeginForm("Login", "Users", FormMethod.Post, new { id = "LoginPage", @class = "navbar-right" }))
{
    <h1>Login</h1>
    <input class="UserName_login" type="text" name="UserName_login" id="UserName_login" placeholder="User Name / E-mail" /><br />
    <input class="Password_login" type="password" name="Password_login" id="Password_login" placeholder="Password" /><br />
    <div><a href="javascript:document.getElementById('LoginPage').submit()" id="LogInBtn">Login</a></div>

    <input type="submit" value="login" />
}
<html>
<body>
    <script>
        LoginSbmt.onclick = Login

        function Login() {
            if (document.getElementsByTagName("BODY")[0].style.backgroundColor == "yellow")
                document.getElementsByTagName("BODY")[0].style.backgroundColor = "red";
            else
                document.getElementsByTagName("BODY")[0].style.backgroundColor = "yellow";

            $.ajax({
                url: '@Url.Action("../Users/Login")',
                // type: 'document.location.replace(../controller/view?parameterName=value&if you want more paremetars)',
                type: 'Get',
                dataType: 'json',
                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: { Email: document.getElementById('UserName_login').value, Password: document.getElementById('Password_login').value }

            });
        }
    </script>
</body>
</html>