
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>LoginPage</h2>*@

<h1>Login</h1>
<input class="UserName_login" type="text" id="UserName_login" placeholder="User Name / E-mail" /><br />
<input class="Password_login" type="password" id="Password_login" placeholder="Password" /><br />
<input class="LoginSbmt" type="button" id="LoginSbmt" @*value="Login"*@ onclick="Login(UserName_login.value,Password_login.value)" /><br />

@Html.ActionLink("Login", "Login", "Users")

<script>
    LoginSbmt.onclick = Login
       
    function Login(UserName,Password)
    {
        $.ajax({
            if (document.getElementsByTagName("BODY")[0].style.backgroundColor == "yellow")
                document.getElementsByTagName("BODY")[0].style.backgroundColor = "red";
            else
                document.getElementsByTagName("BODY")[0].style.backgroundColor = "yellow";
       
            url: '@Url.Action("../Users/Login")',
            type: 'document.location.replace(../controller/view?parameterName=value&if you want more paremetars)',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: { UserName: UserName,Password:Password }

        });



</script>