@model Annety.Users
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h2>LoginPage</h2>*@
@*@using (Html.BeginForm("Login", "Users", FormMethod.Post, new { id = "LoginPage", @class = "navbar-right" }))
{<div id="LoginPage" style="margin-left:380px;font-family:cursive;">
        <h1 style="font-family:cursive;margin-left:-60px;margin-top:50px;margin-bottom:30px;">Sign in to Annety</h1>
        <input class="UserName_login" type="text" name="UserName_login" id="UserName_login" placeholder="E-mail" style="margin-bottom:15px;"/><br />
        <input class="Password_login" type="password" name="Password_login" id="Password_login" placeholder="Password" style="margin-bottom:15px;"/><br />
     @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" ,@style= "margin-left: -90px;" })
        <div><a href="javascript:document.getElementById('LoginPage').submit()" id="LogInBtn" style="margin-left:70px;font-size:20px;background-color:lightblue;">Login</a></div>
    <a href="@Url.Action("Create", "Users")" style="margin-left:-75px;font-size:20px">Don't have an account? sign up now!</a>
    </div>
    @*<input type="submit" value="login" />}*@
@using (Html.BeginForm("Login", "Users", FormMethod.Post, new { id = "LoginPage", @class = "navbar-right" }))
{<div id="LoginPage" style="margin-left:380px;font-family:cursive;">
        <h1 style="font-family:cursive;margin-left:-60px;margin-top:50px;margin-bottom:30px;">Sign in to Annety</h1>
        <input class="UserName_login" type="text" name="UserName_login" id="UserName_login" placeholder="User Name / E-mail" style="margin-bottom:15px;" /><br />
        <input class="Password_login" type="password" name="Password_login" id="Password_login" placeholder="Password" style="margin-bottom:15px;" /><br />
        <div><a href="javascript:document.getElementById('LoginPage').submit()" id="LogInBtn" style="margin-left:70px;font-size:20px;background-color:lightblue;">Login</a></div>
        <a href="@Url.Action("Create", "Users")" style="margin-left:-75px;font-size:20px">Don't have an account? sign up now!</a>
    </div>
    @*<input type="submit" value="login" />*@
}
<html>
<body>
    <script>
        LoginSbmt.onclick = Login

        function Login() {
            //if (document.getElementsByTagName("BODY")[0].style.backgroundColor == "yellow")
            //    document.getElementsByTagName("BODY")[0].style.backgroundColor = "red";
            //else
            //    document.getElementsByTagName("BODY")[0].style.backgroundColor = "yellow";

            $.ajax({
                url: '@Url.Action("../Users/Login")',
                // type: 'document.location.replace(../controller/view?parameterName=value&if you want more paremetars)',
                type: 'Get',
                dataType: 'json',
                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: { Email: document.getElementById('UserName_login').value, Password: document.getElementById('Password_login').value }

            });
        }
    </script>
</body>
</html>