
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Login</h1>
<input type="text" id="UserName.login" placeholder="User Name / E-mail" /><br />
<input type="password" id="Password.login" placeholder="Password" /><br />
<input type="submit" id="LoginSbmt" value="Login" /><br />