@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<body style="background:url(../Images/beautiful-flowers-background_84403-1920x1200.jpg); background-attachment:fixed; padding-top:45px">
   <p style="text-align:center;font-family:cursive;font-size:20px;padding-top:50px">
       Hi, I'm Bella - the founder of Annety company<br />
       I'm here to tell you few things about my company-<br />
       Annety was founded at 1980<br />
       When I was young<br />
       and my eldest girl was born<br />
       I've searched special clothes for her<br />
       I didn't want her to look like everyone else<br />
       she was special<br />
       so I decide-<br />
       if I cannot find something I like-<br />
       I'll make some,<br />
       and than, my neighbors start to ask me-<br />
       from where I'm getting my doughter's clothes<br />
       and I told them it's a "Home-Made" as it calls,<br />
       a good friend of me offered-<br />
       to open a little shop and sell my clothes<br />
       actually - I like the idea<br />
       work on somethig I like to do? why not?!<br />
       well, thats the way Annety was born,<br />
       Annety - is my eldest doughter's name<br />
       the company was founded because of her-<br />
       or - should I say- thanks to her.<br />
       so I guess the company name-<br />
       should be her name<br />

       Best regards,<br />
       Bella.<br />

   </p> 
</body>

@*<p>Use this area to provide additional information.</p>*@
