@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>בנות</h2>
        <p> תמונה של ילדה חמודה</p>
        </div>
    <div class="lead col-md-4">
        <h2>בנים</h2>
        <p>תמונה של ילד חמוד</p>
    </div>
</div>