@model IEnumerable<Annety.Product>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@foreach (var item in Model)
{
    
    <div class="w3-row w3-grayscale"style="float:left; margin:5px">
        <div class="w3-col l3 s6">
            
                <div class="w3-container" onclick="@Url.Action("Product","SearchResult",new { item.ProductKey})">

                    <img src="@Url.Content("~/ProductImages/" + System.IO.Path.GetFileName(item.ImagePath))" style="width:150px;height:200px;margin-left:10px; " />
                    <p style="width:150px;">@item.Desc<br><b>@item.Price</b></p>
                </div>
            
        </div>
    </div>
    
}


 